@charset "UTF-8";
/* ESTILOS RESET Y QUERYS */
/*PRIORIDAD DE CLASES
1-!important
2-ID
3-CLASS
4-SELECTOR/ETIQUETA
*/
/*FORMATEO DE PAGINA*/
* {
  font-style: none;
  text-decoration: none;
  grid-template-areas: none;
  padding: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

/*FORMATEO DE LISTA*/
ul, li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1089px) {
  #Cabecera .navegar .bar_navegar .M_inicio {
    display: none;
  }
  #Cabecera .navegar .bar_navegar .M_Somos {
    display: none;
    justify-items: end;
    font-size: xx-small;
  }
  #Cabecera .navegar .bar_navegar .M_Normas {
    display: none;
  }
  #Cabecera .navegar .bar_navegar .M_productos {
    display: none;
  }
  #Cabecera .navegar .bar_navegar .M_Saldos {
    display: none;
  }
  #main .cuerpo {
    height: 100%;
    width: 100%;
    display: list-item;
    flex-direction: column;
  }
  #main .cuerpo .noticias {
    grid-template-rows: 75% 25%;
  }
  #main .cuerpo .noticias .site_interes .site_dian .img_dian {
    width: 60%;
    height: 60%;
  }
  #main .cuerpo .noticias .site_interes .site_portafolio .img_portafolio {
    width: 60%;
    height: 60%;
  }
  #main .cuerpo .noticias .site_interes .site_analfe .img_analfe {
    width: 50%;
    height: 50%;
  }
  #main .cuerpo .noticias .site_interes .site_super .img_super {
    width: 30%;
    height: 30%;
  }
}
#Cabecera {
  width: 100%;
  height: 15vh;
  padding: 0.3%;
}
#Cabecera .navegar {
  width: 100%;
  height: 100%;
}
#Cabecera .navegar .M_logo {
  grid-area: logo;
}
#Cabecera .navegar .bar_navegar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 17.5% 17.5% 13% 13% 13% 13% 13%;
  grid-template-rows: 100%;
  grid-template-areas: "logo logo inicio somos normas productos saldos";
  align-content: end;
  justify-items: center;
  align-items: center;
}
#Cabecera .navegar .bar_navegar .M_inicio {
  grid-area: inicio;
}
#Cabecera .navegar .bar_navegar .M_Somos {
  grid-area: somos;
}
#Cabecera .navegar .bar_navegar .M_Normas {
  grid-area: normas;
}
#Cabecera .navegar .bar_navegar .M_productos {
  grid-area: productos;
}
#Cabecera .navegar .bar_navegar .M_Saldos {
  grid-area: saldos;
}

.ico {
  justify-items: center;
  align-items: center;
}

.title {
  font: bold;
  font-size: x-large;
  justify-items: center;
  align-items: center;
}

.title:hover {
  padding-top: 5px 10px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.623);
  border-radius: 10px;
  background-color: green;
  color: white;
}

/* Parametros Generales de la página */
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(59, 184, 123), rgb(44, 153, 100));
}
body main {
  width: 100%;
  height: 100%;
  /* Parametros - main de la página Inicio*/
  /* Parametros - titulo de la página*/
}
body main .cuerpo {
  width: 99.97%;
  height: 70vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}
body main .title_cuerpo {
  display: flex;
  height: 5%;
  font-size: xx-large;
  text-align: center;
  align-items: center;
  justify-content: center;
}
body main .principal {
  width: 100%;
  height: 70vh;
}
body main .principal .cuerpo1 {
  width: 99%;
  height: 99.97%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  color: darkseagreen;
  align-content: center;
  margin: 0.5%;
}
body main .principal .cuerpo2 {
  width: 99%;
  height: 99.97%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  color: darkseagreen;
  align-content: center;
  margin: 0.5%;
}
body main .principal .productos {
  width: 99%;
  height: 99.97%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  color: darkseagreen;
  align-content: center;
  justify-content: center;
  margin: 0.5%;
}
body pie_pags {
  width: 100%;
  height: 15%;
}

#pie_pags {
  font-size: xx-small;
  margin: 0.5%;
}
#pie_pags .caja_pie {
  display: grid;
  width: 99.97%;
  height: 15vh;
  align-content: center;
  justify-content: center;
  background-color: whitesmoke;
  grid-template-columns: 20% 20% 30% 20% 10%;
  grid-template-rows: 100%;
}
#pie_pags .caja_pie .caja_ubicacion {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#pie_pags .caja_pie .caja_ubicacion .mapa_ubicacion {
  height: 90%;
  width: 90%;
  align-items: center;
  justify-items: center;
  margin-left: 4%;
  margin-top: 2%;
}
#pie_pags .caja_pie .caja_ubicacion .mapa_ubicacion .iframe_ubicar {
  height: 100%;
  width: 100%;
  border: 2%;
}
#pie_pags .caja_pie .caja_ubicacion .mapa_ubicacion:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}
#pie_pags .caja_pie .data_ubicacion {
  width: 100%;
  align-content: center;
  text-align: center;
  text-overflow: initial;
  font-size: large;
  color: rgb(10, 83, 10);
}
#pie_pags .caja_pie .caja_contacto {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
}
#pie_pags .caja_pie .caja_contacto .email {
  text-decoration: none;
  text-emphasis-color: white;
  height: 100%;
  font-size: x-large;
  text-align: center;
  align-content: center;
  color: rgb(10, 83, 10);
}
#pie_pags .caja_pie .caja_contacto .whatsaap {
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
}
#pie_pags .caja_pie .caja_contacto .whatsaap .ico_whatsaap {
  text-align: end;
}
#pie_pags .caja_pie .caja_contacto .whatsaap .ico_whatsaap .img_whatsaap {
  height: 20%;
  width: 20%;
}
#pie_pags .caja_pie .caja_contacto .whatsaap .txt_whatsapp {
  width: 100%;
  align-items: center;
  text-align: start;
  font-size: large;
  color: rgb(10, 83, 10);
}
#pie_pags .caja_pie .caja_contacto .whatsaap .ico_whatsaap:hover {
  animation-name: surprise;
  -webkit-animation-name: surprise;
  -moz-animation-name: surprise;
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
}
@keyframes surprise {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }
  10% {
    transform: rotate(7deg) scale(2, 2);
  }
  20% {
    transform: rotate(-7deg) scale(2, 2);
  }
  30% {
    transform: rotate(7deg) scale(2, 2);
  }
  40% {
    transform: rotate(-7deg) scale(2, 2);
  }
  50% {
    transform: rotate(7deg) scale(2, 2);
  }
  60% {
    transform: rotate(-7deg) scale(2, 2);
  }
  70% {
    transform: rotate(7deg) scale(2, 2);
  }
  80% {
    transform: rotate(-7deg) scale(2, 2);
  }
  90% {
    transform: rotate(7deg) scale(2, 2);
  }
  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}
#pie_pags .caja_pie .caja_redes {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
}
#pie_pags .caja_pie .caja_redes .title_redes {
  height: 30%;
  font-size: x-large;
  color: rgb(10, 83, 10);
}
#pie_pags .caja_pie .caja_redes .icons_redes {
  height: 70%;
  display: flex;
  align-content: center;
  justify-content: center;
}
#pie_pags .caja_pie .caja_redes .icons_redes .img_facebook {
  height: 70%;
  width: 90%;
}
#pie_pags .caja_pie .caja_redes .icons_redes .img_xtwitter {
  height: 70%;
  width: 90%;
}
#pie_pags .caja_pie .caja_redes .icons_redes .img_instagram {
  height: 70%;
  width: 90%;
}
#pie_pags .caja_pie .caja_redes .img_facebook:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}
#pie_pags .caja_pie .caja_redes .img_instagram:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translatex(10px);
  -webkit-transform: translatex(10px);
  -moz-transform: translatex(10px);
}
#pie_pags .caja_pie .caja_redes .img_xtwitter:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}
#pie_pags .caja_pie .caja_redes .img_facebook:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
  transform: translatex(-10px);
  -webkit-transform: translatex(-10px);
  -moz-transform: translatex(-10px);
}
#pie_pags .caja_derechos {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: small;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(10, 83, 10);
}

/* ESTILOS INICIO */
main .cuerpo .noticias {
  width: 95%;
  height: 90%;
  margin: 5%;
  display: grid;
  grid-template-rows: 50% 10% 40%;
  background: linear-gradient(to bottom right, rgb(78, 121, 88), rgb(139, 224, 168));
}
main .cuerpo .noticias .hora_col {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
}
main .cuerpo .noticias .hora_col .iframe_hora_col {
  width: 100%;
  height: 60%;
}
main .cuerpo .noticias .title_interes {
  text-align: center;
  align-content: center;
  font-size: x-large;
  font-style: italic;
  background: linear-gradient(to bottom right, rgb(47, 78, 54), rgb(48, 185, 94));
}
main .cuerpo .noticias .site_interes {
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
  align-content: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "dian portafolio" "analfe supersolidaria";
  font-family: "Franklin Gothic Medium";
}
main .cuerpo .noticias .site_interes .site_dian {
  height: 100%;
  grid-area: dian;
  text-align: center;
  align-content: center;
}
main .cuerpo .noticias .site_interes .site_dian .img_dian {
  width: 100%;
  height: 100%;
}
main .cuerpo .noticias .site_interes .site_super {
  height: 100%;
  grid-area: supersolidaria;
  text-align: center;
  align-content: center;
}
main .cuerpo .noticias .site_interes .site_super .img_super {
  width: 70%;
  height: 70%;
}
main .cuerpo .noticias .site_interes .site_analfe {
  height: 100%;
  grid-area: analfe;
  text-align: center;
  align-content: center;
}
main .cuerpo .noticias .site_interes .site_analfe .img_analfe {
  width: 70%;
  height: 70%;
}
main .cuerpo .noticias .site_interes .site_portafolio {
  height: 100%;
  grid-area: portafolio;
  text-align: center;
  align-content: center;
}
main .cuerpo .noticias .site_interes .site_portafolio .img_portafolio {
  width: 100%;
  height: 100%;
}
main .cuerpo .noticias .img_dian:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}
main .cuerpo .noticias .img_portafolio:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}
main .cuerpo .noticias .img_analfe:hover {
  transform: translatey(20px);
  -webkit-transform: translatey(20px);
  -moz-transform: translatey(20px);
}
main .cuerpo .noticias .img_super:hover {
  transform: translatey(20px);
  -webkit-transform: translatey(20px);
  -moz-transform: translatey(20px);
}

.banner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.img_banner {
  width: 68vw;
  height: 65vh;
  flex-direction: column;
}

/* ESTILOS NOSOTROS */
main .principal .cuerpo1 .menu1 {
  width: 99.97%;
  height: 99.97%;
  background-color: rgb(184, 241, 210);
  justify-content: center;
  align-items: center;
  align-content: center;
}
main .principal .cuerpo1 .menu1 .button1 {
  position: relative;
  border-radius: 10px;
  height: 10%;
  width: 80%;
  margin-left: 13%;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 3vh;
  transition: 0.3s linear;
  cursor: pointer;
}
main .principal .cuerpo1 .menu1 .button1:hover {
  background-color: forestgreen;
}

main .principal .cuerpo1 .visorpdf {
  width: 100%;
  height: 100%;
  background-color: rgb(184, 241, 210);
}
main .principal .cuerpo1 .visorpdf .iframe_visor {
  width: 100%;
  height: 100%;
  background-color: rgb(184, 241, 210);
  font-style: italic;
}

/* ESTILOS PRODUCTOS */
.aportes {
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  background: linear-gradient(to bottom right, rgb(64, 233, 121), rgb(115, 184, 131));
  color: darkgreen;
}
.aportes .descrip1 {
  width: 80%;
  height: 20%;
  background-color: rgb(187, 175, 175);
}
.aportes .aport1 {
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 10%;
}
.aportes .aport1 .Label1 {
  color: darkgreen;
  font-size: x-large;
}
.aportes .aport1 .Label2 {
  color: rgb(42, 139, 42);
  font-size: large;
}
.aportes .aport1 .cmptexto {
  width: 30%;
  height: 5%;
}
.aportes .aport1 .button2 {
  position: relative;
  border-radius: 10px;
  height: 50%;
  width: 40%;
  margin-left: 13%;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 22px;
  transition: 0.3s linear;
  cursor: pointer;
}
.aportes .aport1 .button2:hover {
  background-color: forestgreen;
}

.creditos {
  width: 99.97%;
  height: 99.97%;
  background-color: rgb(184, 241, 210);
  align-content: center;
  text-align: center;
  color: darkgreen;
}
.creditos .descrip1 {
  width: 80%;
  height: 20%;
  background-color: rgb(187, 175, 175);
}
.creditos .aport1 {
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 10%;
}
.creditos .aport1 .Label1 {
  color: darkgreen;
  font-size: x-large;
}
.creditos .aport1 .Label2 {
  color: rgb(42, 139, 42);
  font-size: large;
}
.creditos .aport1 .cmptexto {
  width: 30%;
  height: 5%;
}
.creditos .aport1 .button2 {
  position: relative;
  border-radius: 10px;
  height: 50%;
  width: 40%;
  margin-left: 13%;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 22px;
  transition: 0.3s linear;
  cursor: pointer;
}

.servicios {
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  background: linear-gradient(to bottom right, rgb(64, 233, 121), rgb(115, 184, 131));
  color: darkgreen;
}
.servicios .descrip1 {
  width: 80%;
  height: 20%;
  background-color: rgb(187, 175, 175);
}
.servicios .aport1 {
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 10%;
}
.servicios .aport1 .Label1 {
  color: darkgreen;
  font-size: x-large;
}
.servicios .aport1 .Label2 {
  color: rgb(42, 139, 42);
  font-size: large;
}
.servicios .aport1 .cmptexto {
  width: 30%;
  height: 5%;
}
.servicios .aport1 .button2 {
  position: relative;
  border-radius: 10px;
  height: 50%;
  width: 40%;
  margin-left: 13%;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 22px;
  transition: 0.3s linear;
  cursor: pointer;
}

/* ESTILOS CONSULTAS */
.login {
  width: 99.97%;
  height: 99.97%;
  background-color: rgb(147, 231, 220);
  display: grid;
  grid-template-rows: 10% 40% 10% 40%;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.login .txt_ingreso {
  align-items: center;
  align-content: center;
  font-size: x-large;
  color: black;
}
.login .ingreso {
  height: 100%;
  background-color: aqua;
  border-style: double;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: x-large;
  color: black;
}
.login .ingreso .pssword {
  height: 50%;
}
.login .ingreso .user {
  height: 50%;
}
.login .txt_consulta {
  align-items: center;
  align-content: center;
  font-size: x-large;
  color: black;
}
.login .consulta {
  border-style: double;
  align-content: center;
  justify-content: center;
  font-size: x-large;
  color: black;
}
.login .button4 {
  position: relative;
  border-radius: 10px;
  height: 50%;
  width: 80%;
  margin-left: 13%;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 22px;
  transition: 0.3s linear;
  cursor: pointer;
}
.login .button4:hover {
  background-color: forestgreen;
}

/*# sourceMappingURL=styles.css.map */
