#body{
    #main{
        .principal .cuerpo3 .menu3 .evento1{
            width:100%;
            height: 100%;
            display:grid;
            grid-template-columns: 20% 20% 20% 20% 20%; 
            grid-template-rows: 100%;
            grid-template-areas:
            "txtviajes1 ftviajes1 ftviajes2 ftviajes3 ftviajes4";

            .parrafo1{
                grid-area: txtviajes1;
            }
            .viajes1{
                width:100%;    
                height: 100%;
                grid-area: ftviajes1;
                .img_viajes1{
                    width: 100%;
                    height: 100%;
                }
            }
            .viajes2{
                width:100%;    
                height: 100%;
                grid-area: ftviajes2;
                .img_viajes2{
                    width: 100%;
                    height: 100%;
                }
            }
            .viajes3{
                width:100%;    
                height: 100%;
                grid-area: ftviajes3;
                .img_viajes3{
                    width: 100%;
                    height: 100%;
                }
            }
            .viajes4{
                width:100%;    
                height: 100%;
                grid-area: ftviajes4;
                .img_viajes4{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .principal .cuerpo3 .menu3 .evento2{
            width:100%;
            height: 100%;
            display:grid;
            grid-template-columns: 20% 20% 20% 20% 20%; 
            grid-template-rows: 100%;
            grid-template-areas:
            "txtviajes2 ftcaravana1 ftcaravana2 ftcaravana2 ftcaravana3";

            .parrafo2{
                grid-area: txtviajes2;
            }
            .caravana1{
                width:100%;    
                height: 100%;
                grid-area: ftcaravana1;
                .img_caravana1{
                    width: 100%;
                    height: 100%;
                }
            }
            .caravana2{
                width:100%;    
                height: 100%;
                grid-area: ftcaravana2;

                .img_caravana2{
                    width: 100%;
                    height: 100%;
                }
            }
            .caravana3{
                width:100%;    
                height: 100%;
                grid-area: ftcaravana3;
                .img_caravana3{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .principal .cuerpo3 .menu3 .evento3{
            width:100%;
            height: 100%;
            display:grid;
            grid-template-columns: 20% 20% 20% 20% 20%; 
            grid-template-rows: 100%;
            grid-template-areas:
            "txtviajes3 ftevento1 ftevento2 ftevento3 ftevento4";

            .parrafo3{
                grid-area: txtviajes3;
            }
            .ftevento1{
                width:100%;    
                height: 100%;
                grid-area: ftevento1;
                .img_evento1{
                    width: 100%;
                    height: 100%;
                }
            }
            .ftevento2{
                width:100%;    
                height: 100%;
                grid-area: ftevento2;
                .img_evento2{
                    width: 100%;
                    height: 100%;
                }
            }

            .ftevento3{
                width:100%;    
                height: 100%;
                grid-area: ftevento3;
                .img_evento3{
                    width: 100%;
                    height: 100%;
                }
            }
            .ftevento4{
                width:100%;    
                height: 100%;
                grid-area: ftevento4;
                .img_evento4{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

