/*PRIORIDAD DE CLASES
1-!important
2-ID
3-CLASS
4-SELECTOR/ETIQUETA
*/

/*FORMATEO DE PAGINA*/
* {
    font-style: none;
    text-decoration: none;
    grid-template-areas: none;
  }

  /*FORMATEO DE LISTA*/
  ul, li{
    list-style: none;
    display: inline-block;    
  }

  body{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgb(203, 238, 207),rgb(102, 189, 147),rgb(3, 61, 33),rgb(44, 153, 100)); */
background-color: darkgray;
  }
    
  #Cabecera{
    width: 100%;
    height: 15vh;
  }

  #BarraNav{
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-areas: "logo logo inicio somos normas productos saldos" ;
  }

  #BarraNav_div{
    width: 100%;
    height: 100%;
  }

  .M_logo{
    grid-area: logo;
    align-items: center;
  }

  .M_inicio{
    grid-area: inicio;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

.ico{
  justify-items: center;
  align-content: center;
}

.title{
  font: bold;
  font-size:larger;
}

  .M_Somos{
    grid-area: somos;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .M_Normas{
    grid-area: normas;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .M_productos{
    grid-area: productos;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .M_Saldos{
    grid-area: saldos;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  #cuerpo{
    width:99.97%;
    height: 99.97%;
    display:grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    background-color: rgb(70, 71, 150);
  }

  .title_cuerpo{
    display:flex;
    height: 10%;
    white-space: nowrap;
    align-items:center;
    justify-content: center;
    /* background-color: rgb(172, 184, 179); */
  }

  #noticias{
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-rows: 50% 40% 10%;
  } 
  #site_interes{
    width:100% ;
    height: 100%;
    display:grid;
    grid-template-areas:
    "title_interes title_interes"
    "dian supersolidaria"
    "analfe portafolio";
    font-family: 'Franklin Gothic Medium';
    align-items: center; 
    justify-content: center;
  }

.title_interes{
  grid-area: title_interes;
  align-items: center;
  align-content: center;
  justify-content: center;
}


  .site_dian{
    grid-area: dian;
    align-items: center;
    justify-content: center;
  }
  
  .site_super{
    grid-area: supersolidaria;
    align-items: center;
    justify-content: center;
  }
  
  .site_analfe{
    grid-area: analfe;
    align-items: center;
    justify-content: center;
  }
  
  .site_portafolio{
    grid-area: portafolio;
    align-items: center;
    justify-content: center;
  }

  .img_dian{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .img_super{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .img_analfe{  
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .img_portafolio{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .calendario{
    width:100% ;
    height:100% ;
    justify-content:center;
    margin-top: 3px;
  }

  .iframe_calendar{
    height: 95%;
    width:  97%;
    align-content: center;
  }

  .eventos{
    width:100% ;
    height: 100%;
  }

.Items_eventos{
  font-family: 'Franklin Gothic Medium';
  font-size: medium;
  text-overflow: ellipsis;
  white-space: nowrap;
}

  .banner{
    display:flex;
    width: 99.94% ;
    height:100%;
    align-items:center;
    justify-content:center; 
    font-style: italic;
  } 

  .img_banner{
    width: 72vw;
    height: 70vh;
    flex-direction: column;
  }

  .caja_pie{
    display:flex;
    width: 99.97%;
    height: 15vh;
    align-content: center;
    justify-content: center;
    
  }

  .caja_ubicacion{
    display:flex;
    width:20% ;
    height:100%;
    align-content: center;
    justify-content: center;
  }

  .iframe_ubicar{
    width: 80%;
    height:80%;
    justify-content: center;
    align-content: center;
  }

  .mapa_ubicacion{
    justify-content: center;
    align-items: center;
  }
  
  .data_ubicacion{
    display:flex;
    width: 20%;
    font-family: 'Franklin Gothic Medium';
    font-size: smaller;
    text-align:center;
    align-items:center;
    justify-content: center;
    align-content: center;
  }

  .caja_contacto{
    display:flex;
    width: 20%;
    font-family: 'Franklin Gothic Medium';
    font-size: smaller;
    text-align:center;
    align-items:center;
    justify-content:center; 
    align-content:center;
  }

  .caja_derechos{
    display:flex;
    width:20% ;
    font-family: 'Franklin Gothic Medium';
    font-size: small;
    text-align:right;
    align-items: flex-end;
    justify-content: flex-end;
  }


  .caja_redes{
    width:20% ;
    font-family: 'Franklin Gothic Medium';
    font-size: smaller;
    text-align:center;
  }
  .title_redes{
    height: 30%;
    justify-content: center;
    align-content: flex-end;
  }
  .icons_redes{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;

  }

  .img_facebook{
    height: 20%;
    width: 20%;
  }
  
  .img_xtwitter{
    height: 20%;
    width: 20%;
  }

  .img_instagram{
    height: 20%;
    width: 20%;
  }

  @media screen and (max-width: 1096px){
    #pie_pags{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
  }

/* INICIAN ESTILO DE PAGINA QUIENES SOMOS */

  .principal{
    width:98.7vw;
    height: 70vh;
  }

  #cuerpo1{
    width:99.97%;
    height: 99.97%;
    display:grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    color: darkseagreen;
    align-content: center;
  }

  .menu1{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .button1{
    position: relative;
    border-radius: 20%;
    height: 10%;
    width: 80%;
    margin-left: 13%;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 3vh;
    transition: .3s linear;
    cursor: pointer;
  }

  .button1:hover,.button2:hover,.button3:hover {
    background-color: forestgreen;
  } 
 
  .visorpdf{
    flex-direction:column;
    display: flexbox;
    width:100%;
    height: 100%;
    background-color:rgb(184, 241, 210); 
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px 3px 3px 3px;
  }

  #iframe_visor{
    width: 100% ;
    height:100%;
    background-color:rgb(184, 241, 210) ;
    font-style: italic;
  }

  .list1{
    text-align: center;
    justify-content: center;
    font-size: large;
    color: darkgreen;
  }

  #productos{
    width:99.97%;
    height: 99.97%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100%;
    color: darkseagreen;
    align-content: center;
    justify-content: center;
  }

  .aportes{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    color: darkgreen;
    margin-right: 3px;
  }

  .descrip1{
    width:80%;
    height:20%;
    background-color: rgb(187, 175, 175);
  }

  .cmptexto{
    width:30%;
    height:5%;
  }

  .Label1{
    color: darkgreen;
    font-size: x-large;
  }

  .Label2{
    color: rgb(42, 139, 42);
    font-size:large;
  }

  .aport1{
    justify-content: center;
    align-content: center;
  }

  .creditos{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    color: darkgreen;
  }

  .servicios{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    color: darkgreen;
  }

  .button2{
    position: relative;
    border-radius: 10%;
    height: 15%;
    width: 40%;
    margin-left: 13%;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 22px;
    transition: .3s linear;
    cursor: pointer;
  }

  .button3{
    position: relative;
    border-radius: 10%;
    height: 15%;
    width: 60%;
    margin-left: 13%;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
    transition: .3s linear;
    cursor: pointer;
  }

  .login{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 3px;
  }

  #cuerpo2{
    width:99.97%;
    height: 99.97%;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    color: darkseagreen;
    align-content: center;
  }

  .ingreso{
    background-color: rgb(123, 206, 206);
    border-style: double;
    align-content: center;
    justify-content: center;
  }