.creditos{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    color: darkgreen;
  }