.creditos{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    align-content: center;
    text-align: center;
    color: darkgreen;

    .descrip1{
      width:80%;
      height:20%;
      background-color: rgb(187, 175, 175);
    }

    .aport1{
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 10%;

      .Label1{
        color: darkgreen;
        font-size: x-large;
      }    

      .Label2{
        color: rgb(42, 139, 42);
        font-size:large;
      }

      .cmptexto{
        width:30%;
        height:5%;
      }

      .button2{
        position: relative;
        border-radius: 10px;
        height: 50%;
        width: 40%;
        margin-left: 13%;
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 22px;
        transition: .3s linear;
        cursor: pointer;
      }
    }
  }