.menu1{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    justify-content: center;
    align-items: center;
    align-content: center;
    }

    .list1{
    text-align: center;
    justify-content: center;
    font-size: large;
    color: darkgreen;
    }

    .button1{
    position: relative;
    border-radius: 10px;
    height: 10%;
    width: 80%;
    margin-left: 13%;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 3vh;
    transition: .3s linear;
    cursor: pointer;
}

    .button1:hover,.button2:hover,.button3:hover {
    background-color: forestgreen;
    }