main .principal .cuerpo1 .menu1{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    justify-content: center;
    
    .items{
        font-size: x-large;
    }

    .items:hover{
        background-color: forestgreen;
    }

}