.banner{
    display:flex;
    width: 99.4% ;
    height:100%;
    margin: 0.3%;
    text-align: center;
    align-items:center;
    font-style: italic;

    .carousel .carousel-inner .carousel-item .img_banner1{
        width: 100%;
        height: 100%;
        flex-direction: column;
      }

  
    .carousel .carousel-inner .carousel-item .img_banner2{
      width: 100%;
      height: 100%;
      flex-direction: column;
      background-color: aqua;
    }

    .carousel .carousel-inner .carousel-item .img_banner3{
      width: 100%;
      height: 100%;
      flex-direction: column;
      background-color: aqua;
    }
  } 
