#main{
  .cuerpo{
    .noticias{
      display:grid;
      grid-template-rows: 60% 40%;
      
      .hora_col{
        width: 100%;
        height: 100%;
        margin: 0.5%;
        align-content: center;
        .iframe_hora_col{
          width: 100%;
          height: 100%; 
        }
      }
      .calendar_col{
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        .iframe_calendar_col{
          width: 100%;
          height: 100%; 
        }
      }
    }
  }
}