main .principal .cuerpo2 .visorpdf{
    width:100%;
    height: 100%;
    background-color:rgb(104, 136, 173); 
  
    .iframe_visor{
      width: 100% ;
      height:100%;
      background-color:rgb(38, 25, 151) ;
      font-style: italic;
    }
  }