#body #main .principal .cuerpo4 .consulta{
  width:99.97%;
  height: 99.97%;
  display:block;
  border-style: double;
  text-align: center;
  align-content: center;
  font-size: x-large;
  color: black;
  background-image: url("../images/consulta.png");

  .grp_consulta{
    align-items: center;
    justify-items: center;
    margin-left: 25%;
    width: 50%;
    background-color: whitesmoke;

    .txt_consulta{
      align-items: center;
      align-content: center;   
      font-size: x-large;
      color: black;
    }
  }
}
