.login{
    width:99.97%;
    height: 99.97%;
    background-color:rgb(184, 241, 210);
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 3px;
    }

.ingreso{
    background-color: rgb(123, 206, 206);
    border-style: double;
    align-content: center;
    justify-content: center;
    }