@media screen and (max-width:1089px){
    
    #Cabecera .navegar .bar_navegar .M_inicio{
        display: none;
    }

    #Cabecera .navegar .bar_navegar .M_Somos{
        display: none;
        justify-items: end;
        font-size: xx-small;
    }

    #Cabecera .navegar .bar_navegar .M_eventos{
        display: none;
    }

    #Cabecera .navegar .bar_navegar .M_productos{
        display: none;
    }

    #Cabecera .navegar .bar_navegar .M_Saldos{
        display: none;
    }

    #main .cuerpo {
        height: 100%;
        width: 100%;
        display:list-item;
        flex-direction: column;
    }

    #main .cuerpo .noticias{
        grid-template-rows: 75% 25%;
        background-color: blue;
    }

    #main .cuerpo .noticias .hora_col .iframe_hora_col{
        height: 70%;
        width: 70%;
    }

    #main .cuerpo .noticias .hora_col .title_interes{
        text-align: center;
        align-content: center;
        font-size: small;
        font-style: italic;
        background: linear-gradient(to bottom right, rgb(47, 78, 54), rgb(48, 185, 94));
      }

    #main .cuerpo .noticias .site_interes .site_dian .img_dian{
        width: 60%;
        height: 60%;
    }
    
    #main .cuerpo .noticias .site_interes .site_portafolio .img_portafolio{
        width: 60%;
        height: 60%;
    }

    #main .cuerpo .noticias .site_interes .site_analfe .img_analfe{
        width: 50%;
        height: 50%;
    }

    #main .cuerpo .noticias .site_interes .site_super .img_super{
        width: 30%;
        height: 30%;
    }
}  