#pie_pags{
  font-size: xx-small;

  .caja_pie{
    display:grid;
    width: 99.97%;
    height: 15vh;
    align-content: center;
    justify-content: center;
    background-color:whitesmoke;
    grid-template-columns: 20% 20% 30% 15% 15%;
    grid-template-rows: 100%;
    margin-right: 10%;

    .caja_ubicacion{
      height:100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      
      .mapa_ubicacion{
        height: 90%;
        width:  90%;
        align-items: center;
        justify-items: center;
        margin-left: 4%;
        margin-top: 2%;
        .iframe_ubicar{
          height: 100%;
          width: 100%;
          border: 2%;
        }
      }
      .mapa_ubicacion:hover{
        transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
      }        
    }

    .data_ubicacion{
      width: 100%;
      align-content: center;
      text-align: center;
      text-overflow: initial;
      font-size: large;
      color:rgb(10, 83, 10);
    }

    .caja_contacto{
      width: 100%;
      height: 100%;
      text-align:center;
      align-items:center;
      justify-content:center; 
      align-content:center;
      display:grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 100%;

      .email{
        text-decoration: none;
        text-emphasis-color: white;
        height: 100%;
        font-size: x-large;
        text-align: center;
        align-content: center;
        color:rgb(10, 83, 10);
      }

      .whatsaap{
        width: 100%;
        align-items:center;
        justify-content:center; 
        align-content: center;
        display:grid;
        grid-template-columns: 50% 50%;
      
        .ico_whatsaap{
          text-align: end;
          .img_whatsaap{
            height: 25%;
            width: 25%;
          }
        }

        .txt_whatsapp{
          width: 100%;
          align-items:center;
          text-align: start;
          font-size: large;
          color:rgb(10, 83, 10);
        }

        .ico_whatsaap:hover{
          animation-name: surprise;
              -webkit-animation-name: surprise;
              -moz-animation-name: surprise;
          animation-duration: .8s;
              -webkit-animation-duration: .8s;
              -moz-animation-duration: .8s;
        }

        @keyframes surprise
        {
          0% {transform: rotate(0deg) scale(1,1);;}
          10% {transform: rotate(7deg) scale(2,2);}
          20% {transform: rotate(-7deg) scale(2,2);}
          30% {transform: rotate(7deg) scale(2,2);}
          40% {transform: rotate(-7deg) scale(2,2);}
          50% {transform: rotate(7deg) scale(2,2);}
          60% {transform: rotate(-7deg) scale(2,2);}
          70% {transform: rotate(7deg) scale(2,2);}
          80% {transform: rotate(-7deg) scale(2,2);}
          90% {transform: rotate(7deg) scale(2,2);}
          100% {transform: rotate(0deg) scale(1,1);}
        }
      }
    }

    .caja_redes{
      width:100% ;
      height: 100%;
      text-align:center;
    
      .title_redes{
        height: 25%;
        font-size: large;
        align-content: center;
        color:rgb(10, 83, 10);
      }
      .icons_redes{
        height: 75%;
        display: flex;
        align-content: flex-start;
        
        .img_facebook{
          height: 70%;
          width: 90%;
        }
        
        .img_xtwitter{
          height: 70%;
          width: 90%;
        }

        .img_instagram{
          height: 70%;
          width: 90%;
        }
      }

      .img_facebook:hover{
        box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
        -moz-transform:translate(0px,5px);
      }

      .img_instagram:hover{
        box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
        transform: translatex(10px);
        -webkit-transform: translatex(10px);
        -moz-transform: translatex(10px);
      }
                  
      .img_xtwitter:hover{
        box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
        -moz-transform:translate(0px,5px);
      }

      .img_facebook:hover{
        box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
        transform: translatex(-10px);
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
      }
    }
  }

  .caja_derechos{
    height: 100%;
    width: 100%;
    display:flex;
    font-size: small;
    text-align:right;
    align-items: flex-end;
    justify-content: flex-end;
    color: rgb(10, 83, 10);
    margin-right: 5%;
    margin-bottom: 5%;
  }
}