    /* Parametros Generales de la página */
          #main{
            width:100%;
            height: 70%;
            
            /* Parametros - main de la página Inicio*/
            .cuerpo{
            padding: 0% 1% 0% 1%;
            display:grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 100%;
            }

            /* Parametros - titulo de la página*/
            .title_cuerpo{
                display:flex;
                height: 5%;
                font-size: xx-large;
                text-align: center;
                align-items:center;
                justify-content: center;
            }

            .principal{
                width:100%;
                height: 100%;
                margin: 0.3%;
                .cuerpo1{
                    width:100%;
                    height: 100%;
                    display:grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 100%;
                    align-content: center;
                }
            
                .cuerpo2{
                    width:99%;
                    height: 99.97%;
                    display:grid;
                    grid-template-columns: 20% 80%;
                    grid-template-rows: 100%;
                    align-content: center;
                }

                .cuerpo3{
                    width:99%;
                    height: 99.97%;
                    align-content: center;
                    justify-content: center;

                    .menu3{
                        display:grid;
                        grid-template-columns: 100%; 
                        grid-template-rows: 3fx;
                    }
                }
                
                .cuerpo4{
                    width:99%;
                    height: 99.97%;
                    display:grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 100%;
                    align-content: center;
                }
                
                .productos{
                    width:99%;
                    height: 99.97%;
                    display:grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: 100%;
                    color: darkseagreen;
                    text-align: center;
                    align-content: center;
                    justify-content: center;
                }
            }
        }

        pie_pags{
            width: 100%;
            height: 100%;
        }